<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
	<script type="text/javascript" src="../js/lib/vue/dist/vue.js"></script>
</head>
<body id="example">
	<select v-model="bizLines">
		<option v-for="option in options" :value="option.value">
			{{ option.text }}
		</option>
	</select>
	<span>bizLines: {{ bizLines }}</span>
	<script type="text/javascript">
		new Vue({
			el: '#example',
			data: {
				bizLines: 'flash',
				options: [
					{ text: '快车', value: 'flash' },
					{ text: '专车', value: 'premium' },
					{ text: '巴士', value: 'bus' }
				]
			}
		})
	</script>
</body>
</html>